{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apertura de Caja</title>

    <link rel="stylesheet" href="{% static 'styles/styleAperturaCaja.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
</head>
<body>

    <div class="modal-dialog-scrollable">
        <div class="col-sm-24 seccionPrincipal">
            <div class="modal-content text-center" >

                <div class="barra-principal">
                    <div class="container">

                        <div class="row">
                            <div class="col text-left">
                                <h1 class="text-apertura-caja">APERTURA DE CAJA</h1>
                            </div>
                            <div class="col text-right">
                                <div class="p text-usuario">
                                    <label class="p font-weight-bold">Usuario:</label>
                                    <label class="p">{{ usuario.nombre }}</label>
                                </div>
                                <button type="submit" class="btn btn-primary " id="botonCerrarSesion"><i class="fas fa-sign-in-alt"></i>CERRAR SESION</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contenido-principal">

                    <div class="container">
                        <input id="id_usuario" value="{{ usuario.id_usuario }}" class="form-control" type="hidden"/>

                        <div class="row">
                            <div class="col">
                                <div class="card card-billetes ">

                                    <div class="text-billetes">
                                        <h5 class="card-header">BILLETES</h5>
                                    </div>

                                    <div class="card-body border border-dark">
                                        <div class="row text-monto">
                                            <div class="col">
                                                200 Bs.
                                            </div>
                                            <div class="col-8 text-left">
                                                <input type="number" onchange="valores('{% url 'calcular_total' %}')" onkeyup="valores({% url 'calcular_total' %})" id="bill-200" class="border border-secondary form-control input-type" min="0">
                                            </div>
                                        </div>

                                        <div class="row text-monto">
                                            <div class="col">
                                                100 Bs.
                                            </div>
                                            <div class="col-8 text-left">
                                                <input type="number" onchange="valores('{% url 'calcular_total' %}')" onkeyup="valores('{% url 'calcular_total' %}')" id="bill-100" class="border border-secondary form-control input-type"  min="0">
                                            </div>
                                        </div>

                                        <div class="row text-monto">
                                            <div class="col">
                                                50 Bs.
                                            </div>
                                            <div class="col-8 text-left">
                                                <input type="number" onchange="valores('{% url 'calcular_total' %}')" onkeyup="valores('{% url 'calcular_total' %}')" id="bill-50" class="border border-secondary form-control input-type" min="0" >
                                            </div>
                                        </div>

                                        <div class="row text-monto">
                                            <div class="col">
                                                20 Bs.
                                            </div>
                                            <div class="col-8 text-left">
                                                <input type="number" onchange="valores('{% url 'calcular_total' %}')" onkeyup="valores('{% url 'calcular_total' %}')" id="bill-20" class="border border-secondary form-control input-type"  min="0">
                                            </div>
                                        </div>
                                        <div class="row text-monto">
                                            <div class="col">
                                                10 Bs.
                                            </div>
                                            <div class="col-8 text-left">
                                                <input type="number" onchange="valores('{% url 'calcular_total' %}')" onkeyup="valores('{% url 'calcular_total' %}')" id="bill-10" class="border border-secondary form-control input-type"  min="0">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card card-monedas">
                                    <div class="text-monedas">
                                        <h5 class="card-header ">MONEDAS</h5>
                                    </div>


                                    <div class="card-body border border-dark">
                                        <div class="row text-monto">
                                            <div class="col">
                                                5 Bs.
                                            </div>
                                            <div class="col-8 text-left">
                                                <input type="number" onchange="valores('{% url 'calcular_total' %}')" onkeyup="valores('{% url 'calcular_total' %}')" id="mon-5" class="border border-secondary form-control input-type"  min="0">
                                            </div>
                                        </div>

                                        <div class="row text-monto">
                                            <div class="col">
                                                2 Bs.
                                            </div>
                                            <div class="col-8 text-left">
                                                    <input type="number" onchange="valores('{% url 'calcular_total' %}')" onkeyup="valores('{% url 'calcular_total' %}')" id="mon-2" class="border border-secondary form-control input-type"  min="0">
                                            </div>
                                        </div>

                                        <div class="row text-monto">
                                            <div class="col">
                                                1 Bs.
                                            </div>
                                            <div class="col-8 text-left">
                                                    <input type="number" onchange="valores('{% url 'calcular_total' %}')" onkeyup="valores('{% url 'calcular_total' %}')" id="mon-1" class="border border-secondary form-control input-type"  min="0">

                                            </div>
                                        </div>

                                        <div class="row text-monto">
                                            <div class="col">
                                                0,50 Bs.
                                            </div>
                                            <div class="col-8 text-left">
                                                <input type="number" onchange="valores('{% url 'calcular_total' %}')" onkeyup="valores('{% url 'calcular_total' %}')" id="mon-0.5" class="border border-secondary form-control input-type"  min="0">

                                            </div>
                                        </div>

                                        <div class="row text-monto">
                                            <div class="col">
                                                0,20 Bs.
                                            </div>
                                            <div class="col-8 text-left">
                                                <input type="number" onchange="valores('{% url 'calcular_total' %}')" onkeyup="valores('{% url 'calcular_total' %}')" id="mon-0.2" class="border border-secondary form-control input-type"  min="0">
                                            </div>
                                        </div>
                                        <div class="row text-monto">
                                            <div class="col">
                                                0,10 Bs.
                                            </div>
                                            <div class="col-8 text-left">
                                                <input type="number" onchange="valores('{% url 'calcular_total' %}')" onkeyup="valores('{% url 'calcular_total' %}')" id="mon-0.1" class="border border-secondary form-control input-type"  min="0">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class=" col">
                                <div class="card efectivo-billetes border border-dark">
                                    <h5 class="card-header">
                                        <label class="p ">
                                            Total Efectivo Billetes:
                                            <label id="efectivo-billetes" class="p font-weight-bold">
                                                0 Bs.
                                                </label>
                                        </label>
                                    </h5>
                                </div>



                            </div>
                            <div class="col">
                                <div class="card efectivo-monedas border border-dark">
                                    <h5 class="card-header">
                                        <label class="p">
                                            Total Efectivo Monedas:
                                            <label id="efectivo-monedas" class="p font-weight-bold">
                                                0 Bs.
                                            </label>
                                        </label>
                                    </h5>
                                </div>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col efectivo-total">
                                <div class="card border border-dark">
                                    <h5 class="card-header">
                                        <label  class=" p text-capitalize">
                                            USTED ESTA INICIANDO CAJA CON
                                            <label>
                                                <label id="total">
                                                    0.00
                                                </label>

                                                <label> Bs.</label>
                                            </label>
                                        </label>
                                        <div>
                                            <label id="literal_valor" class="p font-weight-bold text-uppercase">
                                            00/100 BOLIVIANOS
                                            </label>
                                        </div>


                                    </h5>
                                </div>

                            </div>
                        </div>

                        <div class="row buttons">

                            <div class="col">
                            </div>
                            <div class="col">
                                <button onclick="limpiar()" class="btn btn-primary " id="botonLimpiar"><i class="fas fa-sign-in-alt"></i>  LIMPIAR </button>
                            </div>
                            <div class="col">
                                <button type="button" onclick="abrirCaja('{% url 'abrir_modal_apertura_caja' usuario.id_usuario %}')" class="btn btn-primary" id="botonConfirmar"><i class="fas fa-sign-in-alt"></i>  CONFIRMAR </button>
                            </div>
                            <div class="col">
                             </div>

                        </div>


                        <div class="row buttons">

                            <div class="col">
                            </div>
                            <div class="col">
                            </div>
                            <div class="col">
                            </div>
                            <div class="col">
                            </div>

                            <div class="col">
                            </div>
                            <div class="col">
                                <a href="{% url 'menuEmpleado' usuario.id_usuario %}">
                                    <button type="submit" class="btn btn-primary " id="botonAtras"><i class="fas fa-sign-in-alt"></i>ATRAS</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- VENTANA EMERGENTE DE CONFIRMAR -->
    <div class="modal fade" id="ModalRegistrar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">

    </div>

    <script src="{% static 'scripts/scriptAperturaCaja.js' %}">
    </script>

</body>
</html>
