body{
    background: url("../assets/imagenParqueo.jpeg") no-repeat center center fixed;
    background-size: cover;
    padding: 0;

}

.barra-principal{
    background: darkslategrey;
    margin-bottom: 20px;
    padding: 10px;
}

.seccionPrincipal{

    line-height: 40px;
    margin: 0 auto;
    margin-top: 5%;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 5%;

}

.modal-content{
    background-color: white;
    padding: 0;
    box-shadow: 0px 0px 2px darkslategrey;
    alignment: center;

}

#botonCerrarSesion{
    margin-top: -2%;
    background: darkred;
    border-color: white;

}
#botonCerrarSesion:hover{
    background: cadetblue;
}

.contenido-principal{
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;

}
.text-apertura-caja{
    color: white;
    margin-top: 20px;
}
.text-usuario{
    color: white;
}
.table-fixed tbody{
    height: 230px;
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed td,
.table-fixed th{
    display: block;
}

.table-fixed tbody td,
.table-fixed thead >tr > th{
    float: left;
    border-bottom-width: 0;
}
.table-container{
    border: black;
    text-align: center;
}
.table-title{
    background: #1a2537;
}
.botonSeleccionar{
    background: darkslategrey;
    color: white;
}
.botonSeleccionar:hover{
    background: cadetblue;
    color: white;
}

.botonIncidente{
    background: #004445;
    color: white;
}
.botonIncidente:hover{
    background: cadetblue;
    color: white;
}
.botonSalida{
    background: #021c1e;
    color: white;
}
.botonSalida:hover{
    background: cadetblue;
    color: white;
}



.margin-boton-seleccionar{
    margin-right: 5px;
}
.text-detalle{
    background: darkslategrey;
    color: white;
    border-radius: 5px 5px 0 0;
}

.text-descuento{
    margin-top: 20px;
}
#botonAtras{
    margin-top: 20px;
    background: darkred;
}
#botonAtras:hover{
    background: cadetblue;
}

.botonBuscar{
    background: #1a2537;
    color: white;
}
.botonBuscar:hover{
    background: cadetblue;
}
