body{
    background: url("../assets/imagenParqueo.jpeg") no-repeat center center fixed;
    background-size: cover;
    padding: 0;

}

.barra-principal{
    background: darkslategrey;
    margin-bottom: 20px;
    padding: 10px;
}

.seccionPrincipal{

    line-height: 40px;
    margin: 0 auto;
    margin-top: 5%;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 5%;

}

.modal-content{
    background-color: white;
    padding: 0;
    box-shadow: 0px 0px 2px darkslategrey;
    alignment: center;

}

#botonCerrarSesion{
    margin-top: -2%;
    background: darkred;
    border-color: white;

}
#botonCerrarSesion:hover{
    background: cadetblue;
}

.contenido-principal{
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;

}
.text-reporte-alquileres{
    margin-top: 20px;
    color: white;
}
.text-usuario{
    color: white;
}
.margin-icon{
    margin-right: 5px;
}
#botonBuscar{
    background: #1a2537;
}
#botonBuscar:hover{
    background: cadetblue;
    color: white;
}
.table-fixed tbody{
    height: 230px;
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed td,
.table-fixed th{
    display: block;
}

.table-fixed tbody td,
.table-fixed thead >tr > th{
    float: left;
    border-bottom-width: 0;
}
#botonAtras{
    background: darkred;
    border-color: white;

}
#botonAtras:hover{
    background: cadetblue;
}

.botonSeleccionar{
    color: white;
    background: #0b2e13;
}
