{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alquileres</title>

    <link rel="stylesheet" href="{% static 'styles/styleAlquileres.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">

</head>
<body>

    <div class="modal-dialog-scrollable">
        <div class="col-sm-24 seccionPrincipal">
            <div class="modal-content text-center" >

                <div class="barra-principal">
                    <div class="container">

                        <div class="row">
                            <div class="col text-left">
                                <h1 class="text-alquileres">CONTROL DE ALQUILERES</h1>
                            </div>
                            <div class="col text-right">
                                <div class="p text-usuario">
                                    <label class="p font-weight-bold">Usuario:</label>
                                    <label class="p">{{ usuario.nombre }}</label>
                                </div>
                                <button onclick="cerrarCesion('{% url 'verificar_cierre_caja' %}', '{% url 'index' %}')" class="btn btn-primary " id="botonCerrarSesion"><i class="fas fa-sign-in-alt"></i>CERRAR SESION</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contenido-principal">
                    <div class="container">
                        <div class="row">
                            <div class="col-3">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">

                                            <i class="fas fa-search"></i>
                                        </span>
                                    </div>
                                    <input id="input-ci-control" type="text" class="form-control" placeholder="Buscar por ci cliente" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>

                            <div class="col-2">
                                <button type="button" onclick="buscarAlquilerPorFiltros('{% url 'buscar_control_alquiler_por_filtros' %}',{{ usuario.id_usuario }})"  class="btn btn-primary" id="botonBuscar"><i class="fas fa-search"></i> BUSCAR </button>
                            </div>
                            <div class="col-3">
                            </div>
                        </div>

                        <div class="row">
                            <table id="tabla-control-alquileres" class="table table-fixed table-sm border border-dark">
                                <thead class="table-dark">
                                <tr>
                                    <th style="width: 200px" scope="col">CI</th>
                                    <th style="width: 300px" scope="col">CLIENTE</th>
                                    <th style="width: 200px" scope="col">MATRICULA</th>
                                    <th style="width: 125px" scope="col">ESTADO</th>
                                    <th style="width: 90px" scope="col">OPCIONES</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in lista_alquileres %}
                                    <tr>
                                        <td style="width: 200px" >{{ item.ci }}</td>
                                        <td style="width: 300px" >{{ item.nombre }}</td>
                                        <td style="width: 200px" >{{ item.placa }}</td>
                                        <td style="width: 125px" >{{ item.estado }}</td>
                                        <td style="width: 90px">
                                            <a href="{% url 'estadoPagos' usuario.id_usuario item.id %}">
                                                <button class=" btn botonSeleccionar"><i class="fas fa-sign-in-alt margin-boton-seleccionar"></i>VER PAGOS</button>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a href="{% url 'agregarAlquiler' usuario.id_usuario %}">
                                    <button type="button" class="btn btn-primary" id="botonNuevoAlquiler"><i class="fas fa-plus"></i> AÑADIR NUEVO ALQUILER </button>

                                </a>
                            </div>
                            <div class="col">
                            </div>
                            <div class="col">
                                <a href="{% url 'menuEmpleado' usuario.id_usuario %}">
                                    <button type="button" class="btn btn-primary" id="botonAtras"><i class="fas fa-sign-in-alt margin-boton-seleccionar"></i> ATRAS </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var ruta_estados='/menuEmpleado/controlAlquileres/'
    </script>
    <script src="{% static 'scripts/scriptAlquiler.js' %}"></script>

    <script src="{% static 'scripts/scriptMenuEmpleado.js' %}"></script>

</body>
</html>
