{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de Empleados</title>

    <link rel="stylesheet" href="{% static 'styles/styleGestionDeEmpleados.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
</head>
<body>

    <div class="modal-dialog-scrollable">
        <div class="col-sm-24 seccionPrincipal">
            <div class="modal-content" >

                <div class="barra-principal">
                    <div class="container">

                        <div class="row">
                            <div class="col-8 text-left">
                                <h1 class="text-gestion-empleados">GESTION DE EMPLEADOS</h1>
                            </div>
                            <div class="col-4 text-right">
                                <div class="p text-usuario">
                                    <label class="p font-weight-bold">Usuario: </label>
                                    <label class="p">{{ usuario.nombre}}</label>
                                </div>
                                <button type="submit" class="btn btn-primary " id="botonCerrarSesion"><i class="fas fa-sign-in-alt"></i>CERRAR SESION</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contenido-principal">
                    <div class="container">
                        <div class="row ">
                            <div class="col text-center">
                                <label class="h5 text-uppercase">
                                    Añadir nuevo Empleado
                                </label>
                            </div>
                        </div>

                        <form id="registro_usuarios" method="get">
                            {% csrf_token %}
                            <div class="row margin-row">
                                <div class="col-4 background-label-text">
                                    <label class="h6 text-uppercase">CI EMPLEADO
                                    </label>
                                </div>
                                <div class="col-8">
                                    <div class="input-group">
                                        <input name="form_ci" required type="text" min="0" max="23" placeholder="Ingrese el ci del empleado" class="form-control border border-secondary">
                                    </div>
                                </div>

                            </div>

                            <div class="row margin-row">
                                <div class="col-4 background-label-text">
                                    <label class="h6 text-uppercase">NOMBRE
                                    </label>
                                </div>
                                <div class="col-8">
                                    <div class="input-group">
                                        <input name="form_nombre" required type="text" min="0" max="23" placeholder="Ingrese el nombre del empleado" class="form-control border border-secondary">
                                    </div>
                                </div>

                            </div>

                            <div class="row margin-row">
                                <div class="col-4 background-label-text">
                                    <label class="h6 text-uppercase text-modal-input">NOMBRE DE USUARIO
                                    </label>
                                </div>
                                <div class="col-8">
                                    <div class="input-group">
                                        <input name="form_usuario" required type="text" min="0" max="23" placeholder="Ingrese el nombre de usuario" class="form-control border border-secondary">
                                    </div>
                                </div>
                            </div>


                            <div class="row margin-row">
                                <div class="col-4 background-label-text">
                                    <label class="h6 text-uppercase">CONTRASEÑA
                                    </label>
                                </div>
                                <div class="col-8">
                                    <div class="input-group">

                                        <input name="form_password" required type="password" min="0" placeholder="Ingrese una contraseña" class="form-control border border-secondary">

                                    </div>
                                </div>

                            </div>

                            <div class="row margin-row">
                                <div class="col-4 background-label-text">
                                    <label class="h6 text-uppercase">CONFIRMAR CONTRASEÑA
                                    </label>
                                </div>
                                <div class="col-8">
                                    <div class="input-group">
                                        <input name="form_password_confirm" required type="password" placeholder="Confirmacion de contraseña" class="form-control border border-secondary">
                                    </div>
                                </div>

                            </div>

                            <div class="row margin-row">
                                <div class="col-4 background-label-text">
                                    <label class="h6 text-uppercase">HORA INGRESO
                                    </label>
                                </div>
                                <div class="col-8">
                                    <div class="input-group">
                                        <input name="form_hora_ingreso" required type="time" placeholder="Ingrese el precio" class="form-control border border-secondary">
                                    </div>
                                </div>

                            </div>

                            <div class="row margin-row">
                                <div class="col-4 background-label-text">
                                    <label class="h6 text-uppercase">HORA SALIDA
                                    </label>
                                </div>
                                <div class="col-8">
                                    <div class="input-group">
                                        <input name="form_hora_salida" required type="time" value="03200" placeholder="Ingrese el precio" class="form-control border border-secondary">
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-row">
                                <div class="col-2">
                                </div>
                                <div class="col-4">
                                    <button onclick="agregarEmpleado('{% url 'agregar_empleado' %}')" class="btn" id="botonAgregar"><i class="fas fa-sign-in-alt"></i>AGREGAR</button>

                                </div>
                                <div class="col-4">
                                    <button type="reset" class="btn" id="botonLimpiar"><i class="fas fa-sign-in-alt"></i>LIMPIAR</button>

                                </div>
                                <div class="col-2">
                                </div>
                            </div>
                        </form>

                        <div class="row ">
                            <div class="col text-center">
                                <label class="h5 text-uppercase">
                                    LISTA DE EMPLEADOS
                                </label>
                            </div>
                        </div>

                        <div class="row">

                            <table id="listaEmpleados" class="table text-center table-fixed table-sm border border-dark">
                                <thead class="table-dark">
                                <tr>
                                    <th style="width: 70px" scope="col">CI</th>
                                    <th style="width: 250px" scope="col">NOMBRE</th>
                                    <th style="width: 130px" scope="col">HORA INGRESO</th>
                                    <th style="width: 130px" scope="col">HORA SALIDA</th>
                                    <th style="width: 130px" scope="col">OPCIONES</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for item in empleados %}
                                    <tr>
                                    <td style="width: 70px"  >{{ item.ci }}</td>
                                    <td style="width: 250px" >{{ item.nombre }}</td>
                                    <td style="width: 130px" >{{ item.hora_ingreso }}</td>
                                    <td style="width: 130px" >{{ item.hora_salida }}</td>
                                    <td style="width: 130px" >
                                        <button onclick="abrirModalEdicionCliente('{% url 'mostrar_editar_cliente' item.id %}')" class="btn botonSeleccionar">
                                            <i class="fas fa-sign-in-alt margin-boton-seleccionar"></i>
                                            MODIFICAR
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}

                                </tbody>

                            </table>

                        </div>

                        <div class="row">
                            <div class="col text-right">
                                <a href="{% url 'menuAdmin' usuario.id_usuario %}">
                                    <button type="button" class="btn btn-primary" id="botonAtras"><i class="fas fa-sign-in-alt"></i>  ATRAS </button>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="edicionCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="{% static 'scripts/scriptGestionDeEmpleados.js' %}">
    </script>
</body>
</html>
